
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'purchaseOrderTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'purchaseOrderTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-3">
                        <label for="1">{{'Refrence' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Refrence' | translate}}" autofocus  id="1" [(ngModel)]="item.refrence">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="2">{{'Order supplier type' | translate}}</label>
                        <p-dropdown [options]="orderSupplierTypes" [(ngModel)]="item.orderSupplierType" id="2" [disabled]="true" optionLabel="libelle" placeholder="{{'Order supplier type' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="3">{{'Date order supplier' | translate}}</label>
                        <p-calendar id="3" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'Date order supplier' | translate}}"  [(ngModel)]="item.dateOrderSupplier" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="4">{{'Criticality' | translate}}</label>
                        <p-dropdown [options]="criticalitys" [(ngModel)]="item.criticality" id="4" [disabled]="true" optionLabel="libelle" placeholder="{{'Criticality' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="5">{{'Supplier' | translate}}</label>
                        <p-dropdown [options]="suppliers" [(ngModel)]="item.supplier" id="5" [disabled]="true" optionLabel="reference" placeholder="{{'Supplier' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="6">{{'Recipient' | translate}}</label>
                        <p-dropdown [options]="recipients" [(ngModel)]="item.recipient" id="6" [disabled]="true" optionLabel="libelle" placeholder="{{'Recipient' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="7">{{'Purchaser' | translate}}</label>
                        <p-dropdown [options]="purchasers" [(ngModel)]="item.purchaser" id="7" [disabled]="true" optionLabel="libelle" placeholder="{{'Purchaser' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="8">{{'Total' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="8" [disabled]="true" placeholder="{{'Total' | translate}}" [(ngModel)]="item.total"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="9">{{'Description' | translate}}</label>
                        <textarea id="9" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'Description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="10">{{'Currency' | translate}}</label>
                        <p-dropdown [options]="currencys" [(ngModel)]="item.currency" id="10" [disabled]="true" optionLabel="libelle" placeholder="{{'Currency' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="11">{{'Purchase order status' | translate}}</label>
                        <p-dropdown [options]="purchaseOrderStatuss" [(ngModel)]="item.purchaseOrderStatus" id="11" [disabled]="true" optionLabel="libelle" placeholder="{{'Purchase order status' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="12">{{'Purchase request' | translate}}</label>
                        <p-dropdown [options]="purchaseRequests" [(ngModel)]="item.purchaseRequest" id="12" [disabled]="true" optionLabel="refrence" placeholder="{{'Purchase request' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="purchaseOrderPurchaseOrderProducts">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.purchaseOrderProducts" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Product</th>
                                        <th>Qantity</th>
                                        <th>Qantity delivered</th>
                                        <th>Purchase order product status</th>
                                        <th>Unite price</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.product?.id}}</td>
                                        <td>{{p.qantity}}</td>
                                        <td>{{p.qantityDelivered}}</td>
                                        <td>{{p.purchaseOrderProductStatus?.libelle}}</td>
                                        <td>{{p.unitePrice?.libelle}}</td>
                                        <td>{{p.price}}</td>
                                        <td>{{p.description}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



