
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'productTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'productTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Part number' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'Part number' | translate}}" autofocus  id="1" [(ngModel)]="item.partNumber">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Product family' | translate}}</label>
                        <p-dropdown [options]="productFamilys" [(ngModel)]="item.productFamily" id="2" [disabled]="true" optionLabel="libelle" placeholder="{{'Product family' | translate}}"></p-dropdown>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



