
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'storeProductTabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'storeProductTabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'Store' | translate}}</label>
                        <p-dropdown [options]="stores" [(ngModel)]="item.store" id="1" [disabled]="true" optionLabel="libelle" placeholder="{{'Store' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'Product' | translate}}</label>
                        <p-dropdown [options]="products" [(ngModel)]="item.product" id="2" [disabled]="true" optionLabel="id" placeholder="{{'Product' | translate}}"></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'Qantity' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'Qantity' | translate}}" [(ngModel)]="item.qantity"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



